{% include 'header.html' %}
<script type="text/javascript" src="{{ url_for('static', filename='updateutils.js') }}"></script>
<div class="card">

    {% if t == 'song' %}
        {% include 'songform.html' %}
    {% elif t == 'artist' %}
        {% include 'artistform.html' %}
    {% elif t == 'release' %}
        {% include 'releaseform.html' %}
    {% elif t == 'sample' %}
        {% include 'sampleform.html' %}
    {% elif t == 'repo' %}
        {% include 'repoform.html' %}
    {% endif %}

</div>
{% include 'footer.html' %}