{% include 'header.html' %}
<div class="container">
    <nav class="item">
        <p><a href='artists'>Artists</a></p>
        <p><a href='songs'>Songs</a></p>
        <p><a href='samples'>Samples</a></p>
        <p><a href='release'>Releases</a></p>
        <p><a href='repo'>Packs/Repos</a></p>
    </nav>
    <div class="item">
        <h2>Welcome to my Music Samples Database</h2>
        <p>This database is a collection of music samples and associated metadata.</p>
    </div>
</div>
{% include 'footer.html' %}