{% include 'header.html' %}
<script type="text/javascript" src="{{ url_for('static', filename='updateutils.js') }}"></script>

<div class="card">
{% if t == "artist" %}
<form action="newartist">
    <label for="name">Artist name: </label><input id="name" type="text" name="name" /><br />
    <label for="nationality">Nationality: </label><input id="nationality" type="text" name="nationality" /><br />
    <label for="genre">Genre: </label><input id="genre" type="text" name="genre" /><br />

<div style='width: fit-content; min-width: 400px; display: flex;'>
    <div style="float: left; margin-right: 5%; WIDTH: auto;">
    <label for="songs">Songs: </label>
        <select name="songs" id="songs" multiple size="10" style="min-width: 205px; width: fit-content;">
        </select>
    </div>
    <div style="float: left; width: 50px; height: 242px; line-height: 121px;">
        <button type="button" onclick="moveItems('left', 'songs')"><i class="arrow left"></i></button>
        <button type="button" onclick="moveItems('right', 'songs')"><i class="arrow right"></i></button>
    </div>
    <div style="float: left; margin-left: 5%;">
    <label for="songsAvailable" >Add songs: </label>
        <select id="songsAvailable" name="songsAvailable" multiple size="10" style="min-width: 205px; width: fit-content;">
            {% for song in songsAvailable %}
            <option value="{{song.song_id}}">{{song.title}}</option>
            {% endfor %}
        </select>
        
    </div>
</div>

    <button type="submit" onclick="selectAll('songs')">Insert new artist</button>
</form>

{% elif t == "song" %}

<!-- TODO: copy artist_song functionality from artists -->
<form action="newsong">
    <label for="title">Song title: </label><input id="title" type="text" name="title" /><br />

<div style='width: fit-content; min-width: 400px; display: flex;'>
    <div style="float: left; margin-right: 5%; WIDTH: auto;">
    <label for="artists">Songs: </label>
        <select name="artists" id="artists" multiple size="10" style="min-width: 205px; width: fit-content;">
        </select>
    </div>
    <div style="float: left; width: 50px; height: 242px; line-height: 121px;">
        <button type="button" onclick="moveItems('left', 'artists')"><i class="arrow left"></i></button>
        <button type="button" onclick="moveItems('right', 'artists')"><i class="arrow right"></i></button>
    </div>
    <div style="float: left; margin-left: 5%;">
    <label for="artistsAvailable" >Add songs: </label>
        <select id="artistsAvailable" name="artistsAvailable" multiple size="10" style="min-width: 205px; width: fit-content;">
            {% for artist in artistsAvailable %}
            <option value="{{artist.artist_id}}">{{artist.name}}</option>
            {% endfor %}
        </select>
        
    </div>
</div>

    <label for="key">Key: </label>
        <select id="key" name="key">
            <option value="">--Please select a key--</option>
            {% for key in songKeys %}
            <option value="{{key}}">{{key}}</option>
            {% endfor %}
        </select>
    <br />
    <label for="bpm">BPM: </label><input id="bpm" type="number" min="10" max="400" name="bpm" /><br/>
    <label for="genre">Genre: </label><input id="genre" type="text" name="genre" /><br/>
    <label for="ISRC">ISRC: </label><input id="ISRC" type="text" name="ISRC" maxlength="12"/><br/>
    <button type="submit" onclick="selectAll('artists')">Insert new song</button>
</form>

{% elif t == "sample" %}
<form action="newsample">
    <label for="instrument">Instrument: </label>
        <input id="instrument" type="text" name="instrument" required/><br />
    <label for="genre">Genre: </label>
        <input id="genre" type="text" name="genre" required/><br />
    <label for="source_id">Source: </label>
        <select id="source_id" name="source_id" required>
            <option value="">--Please select a source--</option>
            {% for source in sources %}
            <option value="{{source.source_id}}">
                {% if source.name %}
                {{source.name}}
                {% elif source.title %}
                {{source.title}}
                {% endif %}
            </option>
            {% endfor %}
        </select><br />
    
<div style='width: fit-content; min-width: 400px; display: flex;'>
    <div style="float: left; margin-right: 5%; WIDTH: auto;">
    <label for="on_songs">Used on: </label>
        <select name="on_songs" id="on_songs" multiple size="10" style="min-width: 205px; width: fit-content;">
        </select>
    </div>
    <div style="float: left; width: 50px; height: 242px; line-height: 121px;">
        <button type="button" onclick="moveItems('left', 'on_songs')"><i class="arrow left"></i></button>
        <button type="button" onclick="moveItems('right', 'on_songs')"><i class="arrow right"></i></button>
    </div>
    <div style="float: left; margin-left: 5%;">
    <label for="songsAvailable" >Add artist(s): </label>
        <select id="songsAvailable" name="songsAvailable" multiple size="10" style="min-width: 205px; width: fit-content;">
            {% for song in songsAvailable %}
            <option value="{{song.song_id}}">{{song.title}}</option>
            {% endfor %}
        </select>
        
    </div>
</div>
    
    <button type="submit" onclick="selectAll('on_songs')">Insert new sample</button>
</form>

{% elif t == "release" %}
<form action="newrelease">
    <label for="title">Release title: </label><input id="title" type="text" name="title" required /><br />
    <label for="releaseDate">Release date: </label><input id="releaseDate" type="date" name="releaseDate" required/><br />
        <label for="type">Type: </label>
        <select id="type" name="type" reuired>
            <option value="">--Please select a type--</option>
            <option value="album">Album</option>
            <option value="single">Single</option>
            <option value="EP">EP</option>
        </select><br />
    <label for="numSongs"># of songs: </label><input id="numSongs" type="number" name="numSongs" min="1" required/><br/>
    <label for="UPC">UPC: </label><input id="UPC" type="text" name="UPC" maxlength="15" required/><br/>
    <label for="url">Spotify URL: </label><input id="url" type="text" name="url" /><br />
    <button type="submit">Insert new release</button>
</form>

{% elif t == "repo" %}
<form action="newrepo">
    <label for="name">Pack/Repo name: </label><input id="name" type="text" name="name" required/><br />
    <label for="type">Type: </label>
    <select name="type">
        <option value="">--Please select a type--</option>
        <option value="pack">Pack</option>
        <option value="repository">Repository</option>
        <option value="other">Other</option>
    </select><br />
    <label for="custodian">Custodian: </label><input id="custodian" type="text" name="custodian" required/><br />
    <label for="price">Price: </label>$<input id="price" type="number" name="price" step="0.01" min="0" value="0" required/><br/>
    <label for="billed">Billed: </label>
        <select id="billed" name="billed" required>
            <option value="">--Please select an option--</option>
            <option value="n/a">N/A</option>
            <option value="once">Once</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
        </select><br />
    <button type="submit">Insert new Pack/Repo</button>
</form>

{% endif %}
</div>
{% include 'footer.html' %}