{% include 'header.html' %}

<div class="card">
{% if session['admin'] == true %}
<p class="card"><a href="/insertrelease"><button type="button">New release</button></a></p>
{% endif %}
<form action="/release" method="post">
    <label for="UPC">Select a release:</label>
    <select name="UPC" id="UPC" onchange="this.form.submit()">
        {% if release is defined %}
        <option value="{{release.UPC}}" selected>{{release.title}}</option>
        {% else %}
        <option value="">--Please select a release--</option>
        {% endif %}
        {% for release in otherReleases %}
        <option value="{{release.UPC}}">{{release.title}}</option>
        {% endfor %}
    </select>
</form><br/>

{% if release is defined %}
    {% if session['admin'] == true %}
<p class="card"><a href='update?UPC={{release.UPC}}'><button type="button">Update</button></a>
<a href="delete?UPC={{release.UPC}}" onclick="return confirm('Are you sure?')">
                <button type="button">Delete</button>
</a></p>
    {% endif %}

<div class="coverimg">
{% if cover_url %}
<img src="{{cover_url}}" alt="Album cover"/>
{% endif %}

</div>
<div class="info">
<h2 class="title">{{release.title}}</h2>
<dl>
    <dt>Type:</dt>
    <dt>Release date:</dt>
    <dt>Number of songs:</dt>
    <dt>UPC:</dt>
    <dt>Songs in database:</dt>
</dl>
<dl>
    <dd>{{release.type}}</dd>
    <dd>{{release.releaseDate}}</dd>
    <dd>{{release.numSongs}}</dd>
    <dd>{{release.UPC}}</dd>
    <dd>
        {% for song in release.songs %}
        <a href="/songs/{{song.song_id}}">{{song.title}}</a><br/>
        {% endfor %}
    </dd>
</dl>
</div>

{% endif %}
</div>
{% include 'footer.html' %}