{% include 'header.html' %}

<div class="card">
    {% if session['admin'] == true %}
<p><a href='insertsong'><button type="button">Insert song</button></a></p>
    {% endif %}


<table>
    <tr>
    <th id="button">View</th>
    <th>Title</th>
    <th>Artist(s)</th>
    <th>Genre</th>
    <th>Key</th>
    <th>BPM</th>
    <th>ISRC</th>
    {% if session['admin'] == true %}
    <th id="button">Update</th>
    <th id="button">Delete</th>
    {% endif %}
    </tr>
    {% for song in songs %}
    <tr>
        <td id="button">
            <a href="/songs/{{song.song_id}}"><button type="button">View</button></a>
        </td>
        <td>
            {{song.title}}
        </td>
        <td>
            {% for artist in song.artists %}
            <a href="/artists/{{artist.artist_id}}">{{artist.name}}</a><br/>
            {% endfor %}
        </td>
        <td>
            {{song.genre}}
        </td>
        <td>
            {{song.key}}
        </td>
        <td>
            {{song.bpm}}
        </td>
        <td>
            {{song.ISRC}}
        </td>        
        {% if session['admin'] == true %}
        <td id="button">
            <a href="update?song_id={{song.song_id}}">
                <button type="button">Update</button>
            </a>
        </td>
        <td id="button">
            <a href="delete?song_id={{song.song_id}}" onclick="return confirm('Delete {{song.title}}?')">
                <button type="button">Delete</button>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>

{% include 'footer.html' %}