{% include 'header.html' %}

<div class="card">

    {% if session['admin'] == true %}
<p><a href='update?song_id={{song.song_id}}'><button type="button">Update</button></a>
<a href="delete?song_id={{song.song_id}}" onclick="return confirm('Delete {{song.title}}?')">
                <button type="button">Delete</button>
</a></p>
    {% endif %}
<table>
    <tr>
    {% if session['admin'] == true %}
    <th>song_id</th>
    {% endif %}
    <th>Title</th>
    <th>Artist(s)</th>
    <th>Release(s)</th>
    <th>Genre</th>
    <th>Key</th>
    <th>BPM</th>
    <th>ISRC</th>
    </tr>
    <tr>
        {% if session['admin'] == true %}
        <td>
            {{song.song_id}}
        </td>
        {% endif %}
        <td>
            {{song.title}}
        </td>
        <td>
            {% for artist in song.artists %}
            <a href="artists?artist_id={{artist.artist_id}}">{{artist.name}}</a><br/>
            {% endfor %}

        </td>
        <td>
            {% for release in song.releases %}
            <a href="release?UPC={{release.UPC}}">{{release.title}}</a><br/>
            {% endfor %}
        </td>
        <td>
            {{song.genre}}
        </td>
        <td>
            {{song.key}}
        </td>
        <td>
            {{song.bpm}}
        </td>
        <td>
            {{song.ISRC}}
        </td>
    </tr>
</table>
</div>

{% include 'footer.html' %}