{% include 'header.html' %}

<div class="card">
    {% if session['admin'] == true %}
<p><a href="/insertrepo"><button type="button">New Pack/Repo</button></a></p>
    {% endif %}
<table>
    <tr>
    <th id="button">View</th>
    <th>Name</th>
    <th>Type</th>
    <th>Custodian</th>
    <th>Price</th>
    <th>Billed</th>
    {% if session['admin'] == true %}
    <th id="button">Update</th>
    <th id="button">Delete</th>
    {% endif %}
    </tr>
    {% for repo in repos %}
    <tr>
        <td id="button">
            <a href="/repo?id={{repo.source_id}}"><button type="button">View</button></a>
        </td>
        <td>
            <a href="/repo?id={{repo.source_id}}">{{repo.name}}</a>
        </td>
        <td>
            {{repo.type}}
        </td>   
        <td>
            {{repo.custodian}}
        </td>
        <td>
            ${{repo.price}}
        </td>
        <td>
            {{repo.billed}}
        </td>
        {% if session['admin'] == true %}
        <td id="button">
            <a href='update?source_id={{repo.source_id}}'><button type="button">Update</button></a>
        </td>
        <td id="button">
            <a href="delete?source_id={{repo.source_id}}" onclick="return confirm('Delete {{repo.name}}?')">
                <button type="button">Delete</button>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
{% include 'footer.html' %}