{% include 'header.html' %}

<div class="grid-container">
    <div class="updelbuttons">
    <form action="/release" method="post">
        <label for="UPC">Select a release:</label>
        <select name="UPC" id="UPC" onchange="this.form.submit()">
            {% if release is defined %}
            <option value="{{release.UPC}}" selected>{{release.title}}</option>
            {% else %}
            <option value="">--Please select a release--</option>
            {% endif %}
            {% for release in otherReleases %}
            <option value="{{release.UPC}}">{{release.title}}</option>
            {% endfor %}
        </select>
    </form>
    {% if session['admin'] == true %}
            <a href="/insertrelease"><button type="button">New release</button></a>
            {% if release is defined %}
            <a href='/update?UPC={{release.UPC}}'><button type="button">Update</button></a>
            <a href="/delete?UPC={{release.UPC}}" onclick="return confirm('Delete {{release.title}}?')"><button type="button">Delete</button></a>
            {% endif %}
    {% endif %}
    </div>
    {% if release is defined %}
        {% if cover_url %}
            <div class="coverimg">
                {% if cover_url %}
                    <img src="{{cover_url}}" alt="Album cover"/>
                {% endif %}
            </div>
        {% endif %}


        <h2 class="title">{{release.title}}</h2>
    <div class="info">
        <table>
            <tr><td class="key">UPC:</td><td>{{release.UPC}}</td></tr>
            <tr><td class="key">Release Date:</td><td>{{release.releaseDate}}</td></tr>
            <tr><td class="key">Type:</td><td>{{release.type}}</td></tr>
            <tr><td class="key">Number of Songs:</td><td>{{release.numSongs}}</td></tr>
        </table>
    </div>
    <div class="info">
        <table>
            <tr><td class="key">Songs in database:</td>
                <td>
                {% for song in release.songs %}
                    <a href="/songs/{{song.song_id}}">{{song.title}}</a><br/>
                {% endfor %}
                </td>
            </tr>
        </table>

    </div>
    {% endif %}
</div><!-- container -->

{% include 'footer.html' %}