{% include 'header.html' %}

<div class="grid-container">

{% if session['admin'] == true %}
    <div class="updelbuttons">
        <a href='/update?song_id={{song.song_id}}'><button type="button">Update</button></a>
        <a href="/delete?song_id={{song.song_id}}" onclick="return confirm('Delete {{song.title}}?')"><button type="button">Delete</button></a>
    </div>
{% endif %}

<div class="coverimg">
{% if img_url %}
<img src="{{img_url}}" alt="Release image"/>
{% endif %}

</div>
<h2 class="title">{{song.title}}</h2>
<div class="info">
<table>
    {% if session['admin'] == true %}
    <tr><td class="key">Song ID:</td><td>{{song.song_id}}</td></tr>
    {% endif %}
    <tr><td class="key">Artist(s):</td>
        <td>
        {% for artist in song.artists %}
            <a href="/artists/{{artist.artist_id}}">{{artist.name}}</a><br/>
            {% if artist.artist_id == 1 %} {% set revenxnt = true %} {% endif %}
        {% endfor %}
        </td>
    </tr>
    <tr><td class="key">Release(s):</td>
        <td>
        {% for release in song.releases %}
            <a href="/release?UPC={{release.UPC}}">{{release.title}}</a><br/>
        {% endfor %}
        </td>
    </tr>
</table>
</div>
<div class="info">
<table>
    <tr><td class="key">Genre:</td><td>{{song.genre}}</td></tr>
    <tr><td class="key">Key:</td><td>{{song.key}}</td></tr>
    <tr><td class="key">BPM:</td><td>{{song.bpm}}</td></tr>
    <tr><td class="key">ISRC:</td><td>{{song.ISRC}}</td></tr>
</table>

</div>
{% if owner == True %}
<div class="info">
    <table>
        <tr><td class="key">Samples:</td><td>
            {% if song.samplesUsed|length != 0 %}
                {% for sample in song.samplesUsed %}
                <a href="/samples/{{sample.sample_id}}">{{sample.instrument}} - {{sourceName}}</a><br/>
                {% endfor %}
            {% endif %}
        </td></tr>
    </table>
</div>
{% endif %}
</div><!-- container -->

{% include 'footer.html' %}