{% if a == 'insert' %}

<form action="/newsong">
    <p>**If Spotify URL is provided, song title and ISRC will be fetched via API**</p>
    <label for="url">Spotify URL: </label><input id="url" type="text" name="url" /><br />
    <div id="hide-elements">
        <label for="title">Song title: </label><input id="title" type="text" name="title" /><br />
        <label for="ISRC">ISRC: </label><input id="ISRC" type="text" name="ISRC" maxlength="12"/><br/>
    </div>
<div style='width: fit-content; min-width: 400px; display: flex;'>
    <div style="float: left; margin-right: 5%; WIDTH: auto;">
    <label for="artists">Artists: </label>
        <select name="artists" id="artists" multiple size="10" style="min-width: 205px; width: fit-content;">
        </select>
    </div>
    <div style="float: left; width: 50px; height: 242px; line-height: 121px;">
        <button type="button" onclick="moveItems('left', 'artists')"><i class="arrow left"></i></button>
        <button type="button" onclick="moveItems('right', 'artists')"><i class="arrow right"></i></button>
    </div>
    <div style="float: left; margin-left: 5%;">
    <label for="artistsAvailable" >Add artists: </label>
        <select id="artistsAvailable" name="artistsAvailable" multiple size="10" style="min-width: 205px; width: fit-content;">
            {% for artist in artistsAvailable %}
            <option value="{{artist.artist_id}}">{{artist.name}}</option>
            {% endfor %}
        </select>
        
    </div>
</div>

    <label for="key">Key: </label>
        <select id="key" name="key">
            <option value="">--Please select a key--</option>
            {% for key in songKeys %}
            <option value="{{key}}">{{key}}</option>
            {% endfor %}
        </select>
    <br />
    <label for="bpm">BPM: </label><input id="bpm" type="number" min="10" max="400" name="bpm" required/><br/>
    <label for="genre">Genre: </label><input id="genre" type="text" name="genre" /><br/>
    
    <button type="button" onclick="showHideElements(['hide-elements'])">Show/Hide additional fields</button>
    <button type="submit" onclick="selectAll('artists')">Insert new song</button>
</form>

{% elif a == 'update' %}

<form class="form-inline" action="/updatesong">
    <input type="hidden" name="song_id" value="{{song.song_id}}" />
    <label for="url">Spotify URL: </label><input id="url" type="text" name="url" value="{{song.url}}"/><br />
    <label for="title">Title: </label><input id="title" type="text" name="title" value="{{song.title}}"><br />
<div style='width: fit-content; min-width: 400px; display: flex;'>
    <div style="float: left; margin-right: 5%; WIDTH: auto;">
    <label for="artists">Artist(s): </label><br/>
        <select name="artists" id="artists" multiple size="10" style="min-width: 205px; width: fit-content;">
            {% for artist in song.artists %}
            <option value="{{artist.artist_id}}">{{artist.name}}</option>
            {% endfor %}
        </select>
    </div>
    <div style="float: left; width: 50px; height: 242px; line-height: 121px;">
        <button type="button" onclick="moveItems('left', 'artists')"><i class="arrow left"></i></button>
        <button type="button" onclick="moveItems('right', 'artists')"><i class="arrow right"></i></button>
    </div>
    <div style="float: left; margin-left: 5%;">
    <label for="artistsAvailable" >Add artist(s): </label><br/>
        <select id="artistsAvailable" name="artistsAvailable" multiple size="10" style="min-width: 205px; width: fit-content;">
            {% for artist in artistsAvailable %}
            <option value="{{artist.artist_id}}">{{artist.name}}</option>
            {% endfor %}
        </select>
        
    </div>
</div>
    <br style="clear: both;"/>

    <label for="key">Key: </label>
        <select id="key" name="key">
            {% for key in songKeys %}
            <option value="{{key}}" {% if key == song.key %}selected{% endif %}>{{key}}</option>
            {% endfor %}
        </select>
    <br />
    <label for="genre">Genre: </label><input id="genre" type="text" name="genre" value="{{song.genre}}"/><br />
    <label for="bpm">BPM: </label><input id="bpm" type="number" name="bpm" min="10" max="400" value="{{song.bpm}}"/><br />
    <label for="ISRC">ISRC: </label><input id="ISRC" type="text" name="ISRC" maxlength="12" value="{{song.ISRC}}"/><br/>
    <button type="submit" onclick="selectAll('artists')">Update song</button>
</form>

{% endif %}