{% include 'header.html' %}

<div class="card">
    {% if session['admin'] == true %}
<p><a href='insertsample'><button type="button">Insert sample</button></a></p>
    {% endif %}
<table>
    <tr>
    <th id="button">View</th>
    <th>Instrument/Type</th>
    <th>Genre</th>
    <th>Source</th>
    <!--th> Used on </th-->
    {% if session['admin'] == true %}
    <th id="button">Update</th>
    <th id="button">Delete</th>
    {% endif %}
    </tr>
    {% for sample in samples %}
    <tr>
        <td id="button">
            <a href="?sample_id={{sample.sample_id}}"><button type="button">View</button></a>
        </td>
        <td>
            {{sample.instrument}}
        </td>
        <td>
            {{sample.genre}}
        </td>     
        <td>
            {% for source_id, link in sources.items() %}
                {% if source_id == sample.source_id %}
                    <a href="{{link.link}}">{{link.name}}</a>
                {% endif %}
            {% endfor %}
        </td>
        {% if session['admin'] == true %}
        <td id="button">
            <a href="update?sample_id={{sample.sample_id}}">
                <button type="button">Update</button>
            </a>
        </td>
        <td id="button">
            <a href="delete?sample_id={{sample.sample_id}}" onclick="return confirm('Are you sure?')">
                <button type="button">Delete</button>
            </a>
        </td>
        {% endif %} 
    </tr>
    {% endfor %}
</table>
</div>
{% include 'footer.html' %}