{% include 'header.html' %}

<div class="card">
{% if session['admin'] == true %}
<p><a href='insertartist'><button type="button">Insert artist</button></a></p>
{% endif %}
<table>
    <tr>
    <th id="button">View</th>
    <th>Name</th>
    <th>Nationality</th>
    <th>Genre</th>
    {% if session['admin'] == true %}
    <th id="button">Update</th>
    <th id="button">Delete</th>
    {% endif %}
    </tr>
    {% for artist in artists %}
    <tr>
        <td id="button">
            <a href="artists?artist_id={{artist.artist_id}}"><button type="button">View</button></a>
        </td>
        <td>
            {{artist.name}}
        </td>
        <td>
            {{artist.nationality}}
        </td>
        <td>
            {{artist.genre}}
        </td>     
        {% if session['admin'] == true %}
        <td id="button">
            <a href="update?artist_id={{artist.artist_id}}">
                <button type="button">Update</button>
            </a>
        </td>
        <td id="button">
            <a href="delete?artist_id={{artist.artist_id}}" onclick="return confirm('Delete {{artist.name}}?')">
                <button type="button">Delete</button>
            </a>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
</div>
{% include 'footer.html' %}