{% include 'header.html' %}

<div class="card">

<p><a href='updateform?song_id={{song.song_id}}'><button type="button">Update</button></a>
<a href="delete?song_id={{song.song_id}}" onclick="return confirm('Are you sure?')">
                <button type="button">Delete</button>
</a></p>

<table>
    <tr>
    <th>song_id</th>
    <th>Title</th>
    <th>Artist(s)</th>
    <th>Release(s)</th>
    <th>Genre</th>
    <th>Key</th>
    <th>BPM</th>
    <th>ISRC</th>
    </tr>
    <tr>
        <td>
            {{song.song_id}}
        </td>
        <td>
            {{song.title}}
        </td>
        <td>
            {% for artist in song.artists %}
            <a href="read?t=artist&a={{artist.artist_id}}">{{artist.name}}</a><br/>
            {% endfor %}

        </td>
        <td>
            {% for release in song.releases %}
            <a href="release?upc={{release.UPC}}">{{release.title}}</a><br/>
            {% endfor %}
        </td>
        <td>
            {{song.genre}}
        </td>
        <td>
            {{song.key}}
        </td>
        <td>
            {{song.bpm}}
        </td>
        <td>
            {{song.ISRC}}
        </td>
    </tr>
</table>
</div>

{% include 'footer.html' %}