{% include 'header.html' %}

<div class="card">
    {% if session['admin'] == true %}
<p><a href='update?artist_id={{artist.artist_id}}"'><button type="button">Update</button></a>
<a href="delete?artist_id={{artist.artist_id}}" onclick="return confirm('Delete {{artist.name}}?')">
                <button type="button">Delete</button>
</a></p>
    {% endif %}
<table>
    <tr>
    {% if session['admin'] == true %}
    <th>artist_id</th>
    {% endif %}
    <th>Name</th>
    <th>Nationality</th>
    <th>Genre</th>
    <th>Songs</th>
    </tr>
    
    <tr>
        {% if session['admin'] == true %}
        <td>
            {{artist.artist_id}}
        </td>
        {% endif %}
        <td>
            {{artist.name}}
        </td>
        <td>
            {{artist.nationality}}
        </td>
        <td>
            {{artist.genre}}
        </td>     
        <td>
            {% for song in artist.songs %}
            <a href="songs?song_id={{song.song_id}}">{{song.title}}</a><br/>
            {% endfor %}
        </td>
    </tr>
</table>
</div>
{% include 'footer.html' %}