{% include 'header.html' %}

<div class="card">
    {% if session['admin'] == true %}
<p><a href="update?source_id={{repo.source_id}}"><button type="button">Update</button></a>
<a href="delete?source_id={{repo.source_id}}" onclick="return confirm('Delete {{repo.name}}?')">
                <button type="button">Delete</button>
</a></p>
    {% endif %}
<table>
    <tr>
    {% if session['admin'] == true %}
    <th>source_id</th>
    {% endif %}
    <th>Name</th>
    <th>Type</th>
    <th>Custodian</th>
    <th>Price</th>
    <th>Billed</th>
    </tr>
    
    <tr>
        {% if session['admin'] == true %}
        <td>
            {{repo.source_id}}
        </td>
        {% endif %}
        <td>
            {{repo.name}}
        </td>
        <td>
            {{repo.type}}
        </td>   
        <td>
            {{repo.custodian}}
        </td>
        <td>
            ${{repo.price}}
        </td>
        <td>
            {{repo.billed}}
        </td>
    </tr>
</table>
</div>
{% include 'footer.html' %}